.orderDetailsWrapper{
	width:40%;
	.orderDetails{
		padding:0;
		margin:0;
		li{
			display:inline-block;
			width:50%;
			padding:5px 10px;
			font-size:26px;
			color:#4a4a4a;
			text-align:right;
			&.orderValue{
				font-weight:600;
				color:#393939;
				text-align:left;
			}
		}
	}
}
.gor-pck-itm-scn{
	.orderDetailsWrapper{
		position: absolute;
	    right: 13px;
	    top: 0;
	    text-align: left;
	}
}